<!doctype html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Tweet Analyser</title>
</head>

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Поле ввода:</legend>
        Введите твит:
        <input name="tweet" type="text" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<div class="result" align="center">
    {% if result %}
    	<br> <p style="font-size:50px">Настроение этого твита:</p>
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>