<!doctype html>
<style>

form {
    margin: auto;
    width: 55%;
}

.result {
    margin: auto;
    width: 35%;
}
</style>

<head>
    <title>Tweet Analyser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style type="text/css">
   .user {
    width: 700px;
    height: 25px;
    background: #add8e6;
    padding: 0 10px;
    border: none;
    font-size: 1em;
    line-height: 46px;
    }
  </style>
</head>

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Поле ввода:</legend>
        Введите твит:
        <input name="tweet" type="text" class="user" name=""required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<div class="result" align="center">
    {% if result %}
        <br> <p style="font-size:26px">Настроение этого твита:</p>
                <p style="font-size:14px">{{ tweet }}</p>
                <p style="font-size:40px">{{ result }}</p>

    {% endif %}
</div>
